.main-wrapper {
    padding:  30vh 30px;
}
  
 h1 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
  }
  
  .animation {
    text-align: center;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: px;
    letter-spacing: 1px;
    color: #fff;
    display: inline-block;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
  .first {
    display: inline-block;
    animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    position: relative;
  }
  
  .oh {
    display: inline-flex;
    overflow: hidden;
  }
  
  .second {
    padding: 0 5px;
    animation: secondSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-weight: 100;
    z-index: -1;
    display: inline-block;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(1);
    } 
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes firstSpan {
    0% {
      transform: translateX(50%);
    }
    60% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes secondSpan {
    0% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-0%);
    }
  }
  

.home-buttons {
    display: flex;
    justify-content: center;
    
}
.home-buttons button{
    background: none;
    border: solid 0.1px #cc482d ;
    padding: 10px;
    border-radius: 5px;
    background-color: #cc482d ;
    color: #ffff;
}
.home-buttons button:hover{
    background: none;
    border: solid 0.1px rgb(121, 119, 119);
    background-color: #054368;
    color: #ffff;
    cursor: pointer;
}