.steps-container-issues {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;

}

.checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  min-width: 300px;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
  margin: 20px;
  background-color: #d3d3d325;
  border-radius: 3px;
}

.checkbox-container:hover {

        background-color: #9a9d9e8f;

      }

.checkbox-label {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  height: 50px;
  width: 50;
  padding: 10px;

}
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .mark {
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-in;
  border: 2px solid white;
}
.checkbox-label input:checked ~ .mark {
  background-color: white;
  border-radius: 5px;
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid white;
}
.checkbox-label .mark::after {
  position: absolute;
  content: "";
  border-radius: 5px;
}
.checkbox-label input:checked ~ .mark::after {
  transform: rotate(45deg) scale(1);
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid red;
  border-width: 0 2px 2px 0;
  border-radius: 0;
}

.checkbox-label .mark::before {
  position: absolute;
  content: "";
  border-radius: 10px;
  border: 5px solid rgb(175, 36, 36);
  transform: scale(0);
}

.checkbox-label input:checked ~ .mark::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  transform: scale(3);
  opacity: 0;
  transition: all 0.3s ease-out;
}
