.charts-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.charts-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.charts {
    
}