.user-wrapper {
    margin: 10vh auto;
    width: 400px;
    padding: 3em;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 11px 17px 5px rgba(128, 121, 121, 0.33);
    background-color: rgba(240, 239, 239, 0.897);
    margin-bottom: 20px;
}
.user-wrapper div {
    text-align: left;
    margin: auto;
}
.user-wrapper p {
    padding: 10px;
}

.user-btn {
    background: none;
    border: solid 1px grey;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    background-color: gray;
    color: #ffff;
    margin: 5px;
}
.user-btn:hover {
    background: none;
    border: solid 1px #054368;
    background-color: #054368;
    color: #ffff;
} 