.steps-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.steps-container h1{
    font-size: 40px;
}
.steps-container p{
    color: white;
    text-align: start;
    margin: 30px 0px;
}
.steps-container h2{
    color: white;
    text-align: start;
    margin: 30px 0px;
    font-size: 28px;
}
.step-label{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.step-label label{
    display: flex;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px ;
    text-align: center;
    background-color: grey;
}
.step-label label:hover{
    background: none;
    border: solid 1px #9a9d9e;
    background-color: #9a9d9e;
    color: #ffff;
}
.step-options {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.step-options h2{
    font-size: 24px;
}
.none{
    display: none;
}
.cont-img{
    width: 150px;
    height: 200px;
    overflow: hidden;
}
.cont-img img{
    height: 400px;
    object-fit: cover;
}

