
.navbar-container {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.menu-btn{
    width: 20px;
    padding: 0 0 0 10px;
}
.user-menu-wrapper {
    display: flex;
}
.navbar-menu-wrapper {
    text-align: end;
}
.logo-wrapper {
    font-size: 16px;
    color: white;
}
.userName-wrapper {
    line-height: 1.5;
}
.userName-wrapper a {
    color: white;
}

.logo-wrapper svg {
    animation: MoveUpDown 1s linear;
    animation-iteration-count: 10;
    position: relative;
    top: -1px;
}

@keyframes MoveUpDown {
    0%, 1% {
      top: 4px;
    }
    1% {
      bottom: 0;
    }
  }
  
  
