* {
  list-style: none;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
}

body {
  height: 100vh;
  margin: 0;
  color: #292929;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}


p, h2 {
  color: rgb(55, 55, 55);
}
