body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(245, 245, 245);
  height: 100%;
  margin: 0;

   background: linear-gradient(90deg,  #054368, #68352b 100vh); 
}
html{
 scroll-behavior: smooth;
 font-size: 14px;
}
h1{
font-size: calc(1rem + 3vw);
}
h2{
font-size: calc(1rem + 1.5vw);
}
h3{
font-size: calc(1rem + 1.1vw);
}
p{
font-size: calc(0.75rem + 1vw);
}
a{
  font-size: calc(0.6rem + 1vw);
}
li{
  font-size: calc(0.6rem + 1vw);
}